#header-image {
	width: 150px;
	display: inline-block;
}

#lead-text {
	display: inline-block;
}

.lead-image{
	display: inline;
	margin-left: 20px;
}

.lead-image div {
	display: inline-block;
	width: 35px;
	margin-right: 10px;
}

#profile-name:hover {
	background: rgb(243,246,250);
	border: 1px solid rgb(220, 230, 240);
}

#profile-name {
	padding-left: 20px;
	border-radius: 5px;
	border: 1px solid transparent;
}

#profile-name h1 {
	margin-bottom: 0;
}

#profile-name h3 {
	margin-top: 10px;
}

#badge-name-list {
	margin-bottom: 30px;
}

#last-four {
	list-style: none;
	display: inline-block;
}

.badge-image {
	width: 100px;
	display: inline-block;
	margin-right: 10px;
}